<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="/css/create-user.css">
</head>
<body>

    <%- include('partials/navigation.ejs') %>
<main>
    <form action="/users/add" method="POST" class="users-form">
        <h3 class="users-form__head">Create User</h3>
        <div class="form-control">
            <label for="n">Name</label>
        <input type="text" name="name" id="n" required>
        <label for="a">age</label>
        <input type="number" name="age" id="a" required> 
        </div>          
        <button type="submit">Submit</button>
    </form>
</main>

    <%- include('partials/footer.ejs') %>