
.profile{
    color: grey;
    font-size: larger;
    text-align: center;
    width: 50%;
    background-color: #F9E795;
    margin: auto;
    margin-top:100px;
    height: 200px;
    border-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-top: 5%;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.delete-user button, .update-user button{
    font: inherit;
    display:block;
    width: 100%;
    background-color: #F96167;
    color: white;
    border: none;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
}


